:root{
    --colorBack: rgb(30, 30, 30);
    --colorBackThrough: rgba(30, 30, 30, .95);
    --colorBorder: rgb(100, 255, 255); 
    --colorBorderLinks: rgba(20, 20, 20, 1);
    --colorCard: rgba(255, 225, 169, 0.7);
    --colorLink: rgb(131, 40, 40);
    --colorTag: rgba(255, 225, 169, .9);
    --colorText: rgb(191, 252, 252);
    --colorTextDark: rgb(7, 44, 44);
    --fontMain: 'spartan', sans-serif;
}

body {
    /* background: crimson; */
    width: 100%;
    height: 100%;
    font-family: var(--fontMain);
}

/* header */

header {
    background: var(--colorBack);
    color: var(--colorText);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: min-content;
    width: 100%;
}

.inforContainer{
    display: flex;
    justify-content: center;
}

header a{
    color: var(--colorBorder);
    text-decoration: none;
}

header img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    box-shadow: 0 0 3px black;
    float:left;
    margin: 5px 15px 5px 5px;
    
}

header h1 {
    font-size: 2.5rem;
    padding: 15px 5px 10px 0px;
}


header h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    /* margin-right: 3rem;
    margin-top: 50px; */
}

.aboutMe{
    color: var(--colorText);
    margin: 20px auto;
    width: 90%;
    text-align: center;
   
}

.aboutMe span{
    font-weight: bolder;
    font-size: 1.3rem;
}


nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li {
    border: 2px solid rgb(20, 20 ,20);
    border-bottom: none;
    font-size: 1.5rem;
    min-height:fit-content;
    padding: 7px 0;
    margin: 0 5px;
    text-align: center;
    width: 80vw;
}

nav li:last-child {
    border-bottom: 2px solid rgb(20, 20 ,20);
}

/* .navSm a {
    width: 100%;
    height: 100%;
} */

nav li:hover {
    background: var(--colorCard);
}

nav li:hover a {
    color: var(--colorLink);    
}

/* background elements */

.backGroundContainer {
    position: relative;
}

.back {
    height: 800px;
    width: 100%;
}

.mainBack1 {
    /* background-image: linear-gradient(yellow, red,orange); */
    background-image: url("../images/Moi-Me-Ries.png");
    background-size: contain;
}

.mainContainer {
    background: var(--colorBack);
}

.backSm {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}


.mainBack2 {
    /* background-image:linear-gradient(blue, purple, darkgreen); */
    background-image: url("../images/Oh.\ My.\ Blog..png");
}

.mainBack3 {
    /* background-image:linear-gradient(khaki, teal, maroon); */
    background-image: url("../images/What\'s\ the\ Song_.png");
}

i{
    font-style: italic;
}

.blocker {
    align-items: center;
    background: var(--colorBackThrough);
    display: flex;
    flex-direction: column;
    min-height: 200px;  
    position: absolute;
    margin-top: -150px;
    width: 100%;
}

.blocker h4, p {
    color: var(--colorText)
}

.blocker h4{
    margin: 2% 0 0 0;
    font-size: 1.3rem;

}

.blocker p{
    margin: 10px 0;
    width: 80%;
    /* add change to media */
}

.ghRepoLinks{
    align-self: flex-start;
    color: var(--colorText);
    margin: 15px 0 0 140px;
}

#lastBlocker {
    min-height: 150px;
    position:relative;
}

/* card build */

.cardHorizon {
    display: flex;
    position: relative;
    justify-content: center;
}

.card {
    background: var(--colorCard);
    border: 2px solid var(--colorBorder);
    display: flex;
    min-height: 100px;
    position: absolute;
    top: 500px;
    width: 90vw;
    transition: all 100ms ease-in-out;
}

.card a {
    /* align-self: flex-start; */
    background: var(--colorTag);
    border: 2px solid var(--colorBorder);
    color: var(--colorLink);
    display: flex;
    /* font-size: 1.5rem; */
    font-size: .9rem; 
    /* justify-self: center; */
    height: 23px;
    padding: 10px 5px 5px 5px;
    position: relative;
    text-decoration: none;
    top: 15px;
    min-width: fit-content;
}


.cardEven a{
    justify-self: flex-end;
    right: -10px;  
}

.cardOdd a{    
    left: -10px;
}

#card2, #card3 {
    color: var(--colorTextDark);
}

.cardEven .card {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.innerCard {
    display:flex;
    padding: 10px 0px;
    /* position: relative; */
    text-align: center;
    width: 59%;
    height: 50%;
}

.cardEven .innerCard {
    margin-right: 35px;
}

.innerCard ul {
    position: relative;
    margin: 0 8px;
    font-size: .7rem;
}

.innerCard h6 {
    font-size: .9rem;
    position:relative;
}

.innerCard li{
    padding: 3px;
}

footer {
    background: var(--colorBack);
    display: flex;
    height: 160px;
    /* margin-top: 10px; */
    position:relative;
    width: 100%;
}
/* keep margin (maybe) for when photos are sized up */

footer ul {
    color: var(--colorText);
    font-size: 1.2rem;
    padding: 0 0 20px 20px;
}



footer li{
    margin: 10px 10px;
    
}

footer a{
    color: var(--colorTag);
    text-decoration: none;
}

#phone {
    font-size: 1.1rem;
}

/* 414 max portrait mobile width */
@media screen and (min-width: 414px){
    
    .card a {
        font-size: 1.5rem;
        height:30px;
    }

    .innerCard {
        width: 100%;
    }

    .cardOdd .innerCard {
        
        justify-content: flex-end;
    }

    .cardEven .innerCard {
        
        justify-content: flex-start;
    }

    .cardInfo{
        /* color: chartreuse; */
        padding: 0 30px;
    }

    .innerCard li{
        font-size: 1rem;
        padding: 3px 0;
    }

    .innerCard h6 {
        font-size: 1.2rem;
    }
    
}

/* 1366 min laptop display, i think */
@media screen and (min-width:1366px){

    /*nav rebuild */
    nav {
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    nav ul{
        display: flex;
    }
    
    nav li {
        align-items: center;
        border: 2px solid var(--colorBorderLinks);
        border-right: none;
        display: flex;
        flex: 1 0 50px;
        /* justify-content: center; */
        width:max-content;
        /* max-height: 20px; */
        margin: 0;
        padding: 10px 0 0 0;
    }

    
    nav a {
        height: 100%;
        width: 100%;
    }


    .navFix a{
        padding-top: 20px;
    }

    nav li:last-child{
        border-right: 2px solidvar(--colorBorderLinks);
        /* padding: 0; */
    }


    

/* card build */

    .card {
        width: 60vw;
    }
    

    .card:hover {
        box-shadow: 0px 0px 3px 1px var(--colorBorder);
        box-shadow: inset 0px 0px 3px 1px var(--colorBorder);
        height: calc(height+1px);
        width: 60.2vw;
    }

    .card:hover a {
        box-shadow: 0px 0px 3px 1px var(--colorBorder);
         box-shadow: inset 0px 0px 3px 1px var(--colorBorder);
    }

    .cardInfo{
        padding: 0 60px;
    }

/* .cardOdd are on right of screen .cardEven on left */

    .cardOdd .innerCard{
        padding-right: 100px;
    }

    .cardEven .innerCard{
        padding-left: 100px;
    }

    .cardOdd {
        justify-content: flex-end;
    }

    .cardOdd .card {
        border-right: 0px solid rgba(30, 30, 30, 0);
    }

    .cardEven {
        justify-content: flex-start;
        border-left:none;
    }

    .cardEven .card {
        border-left: 0px solid rgba(30, 30, 30, 0);
    }
}