:root{
    --colorBack: rgba(30, 30, 30, 1);
    --colorBackThrough: rgba(30, 30, 30, .99);
    --colorBorder: rgb(100, 255, 255); 
}

body {
    /* background: crimson; */
    width: 100%;
    height: 100%;
}

/* header */

header {
    background: var(--colorBack);
    color:rgb(191, 252, 252);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: min-content;
    width: 100%;
}

header a{
    color: crimson;
    text-decoration: none;
}

header img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    box-shadow: 0 0 3px black;
    float:left;
    margin: 5px 15px 5px 5px;
    
}

header h1 {
    font-size: 2.5rem;

    padding: 15px 5px 10px 0px;
}


header h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    /* margin-right: 3rem;
    margin-top: 50px; */
}

header ul{
    margin: 5px 5px;
}

nav{
display: flex;
flex-direction: column;
align-items: center;
}

nav li {
    border: 2px solid rgb(20, 20 ,20);
    border-bottom: none;
    font-size: 1.5rem;
    
    padding: 10px 5px;
    margin: 0 5px;
    text-align: center;
    width: 90vw;
}

nav li:last-child {
    border-bottom: 2px solid rgb(20, 20 ,20);
}

header li:hover {
    color:chartreuse;
}

/* background elements */

.backGroundContainer {
    position: relative;
}

.back {
    height: 800px;
    width: 100%;
}

.mainBack1 {
    /* background-image: linear-gradient(yellow, red,orange); */
    background-image: url("../images/iphone.jpg");
    background-size: contain;
    
}

.mainBack2 {
    /* background-image:linear-gradient(blue, purple, darkgreen); */
    background-image: url("../images/tesla.jpg");
    background-size: contain;
    
}

.mainBack3 {
    /* background-image:linear-gradient(khaki, teal, maroon); */
    background-image: url("../images/samsung-memory1.jpg");
    background-size: contain;
    
}

.blocker {
    background: var(--colorBackThrough);
    height: 300px;
    position: absolute;
    margin-top: -150px;
    width: 100%;
}

/* card build */

.cardHorizon {
    display: flex;
    position: relative;
    justify-content: center;
}

/* probably go to media queries */

/* .cardOdd {
    justify-content: flex-end;
}

.cardOdd .card {
    box-shadow: -2px 2px 5px 1px black;
}

.cardTag {
   
}

.cardEven {

}

.cardEven .card {
    box-shadow: 2px 2px 5px 1px black;
} */

/*  */

.card {
    background:rgba(255, 225, 169, 0.5);
    border: 2px solid var(--colorBorder);
    /* display: flex; */
    height: 100px;
    position: absolute;
    top: 500px;
    width: 90vw;
    transition: all 200ms ease-in-out;
}

.cardTag a{
    background:rgb(114, 165, 165);
    border: 2px solid var(--colorBorder);
    font-size: 1.5rem;
    height: 30px;
    left: -10px;
    position: relative;
    text-decoration: none;
    top: 15px;
    width: fit-content;
}

.cardEven .card{
    
}

.cardEven a {
color:chartreuse;
/* left: -10px; */
position: relative;
left:82%;


}

/* .card:hover {
    height: 98px;
    width: 59.5vw;
}

.cardOdd .card:hover {
    box-shadow: -3px 3px 8px 1px black;
}

.cardEven .card:hover {
    box-shadow: 3px 3px 8px 1px black;
} */

.innerCard {
    display:flex;
    flex-direction: column;
}

/* .innerCard a{
    color:chartreuse;
    padding-right: 20px;
} */



footer {
    background: var(--colorBack);
    height: 250px;
    position:absolute;
    width: 100%;
    margin-top: -150px;
    /* z-index: 1; */
}
